.main-window{
    display: flex;
    flex-direction: column;
    height: 240px;
}
.main-header{
    background-color: rgb(203, 225, 252);
    height: 50px;
}
.content{
    display: flex;
    flex: 1;
}
.aside{
    width: 200px;
    background-color: rgb(221, 235, 253);
}
.main{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footer{
    height: 50px;
    background-color: rgb(203, 225, 252);
}
.main-header{
    background-color: rgb(238, 245, 254);
    flex: 1;
}