/*.card{*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    padding: 1px 12px;*/
/*    background-color: rgba(234, 233, 234, 0.68);*/
/*    border: 1px solid rgba(224, 224, 224, 0.68);*/
/*    border-radius: 8px;*/
/*}*/
.grid-box{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-item{
    width: 200px;
    height: 200px;
    background-color: red;
}