body{
    margin: 0;
}

h2{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    height: 52px;
}

.apple-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    padding: 0 22px;
    background-color: rgba(245,245,247,0.8);
    backdrop-filter: blur(12px);

    .apple-nav-list{
        display: flex;
        height: 100%;
        color: rgba(0,0,0,0.8);
        align-items: center;
        justify-content: space-between;

        a{
            color: rgba(0,0,0,0.8);
            font-size: 12px;
            text-decoration: none;
        }
    }
}

.apple-main{
    padding-top: 44px;

    .apple-announcement{
        display: flex;
        height: 44px;
        font-size: 11px;
        justify-content: center;
        align-items: center;
    }
    a{
        color: #0066cc;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    .apple-primary-goods{
        display: grid;
        grid-auto-rows: 570px;
        p{
            font-size: 22px;
            margin: 5px 0 0;
        }

        > div{
            text-align: center;
            background-position: center;
            background-size: cover;
        }
        .btn-list{
            margin-top: 18px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .iphone-details{
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url("/assect/apple.jpg");


        }

        .holiday-details{
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url("/assect/iphone2.jpg");

            .info-list{
                display: flex;
                height: 100%;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                padding: 53px 0 62px;
            }
        }

        .ipad-details{
            background-image: url("/assect/iphone3.jpg");
            .ipad-logo{
                width: 170px;
                height: 39px;
                display: inline-block;
                background-image: url("/assect/ipad.png");
                background-repeat: no-repeat;
                background-size: 170px 39px;
            }
        }
    }
    .solid-btn{
        color: white;
        background-color: rgb(0,113,227);
        border: 1px solid transparent;
        padding: 11px 21px;
        border-radius: 999px;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            background-color: rgb(33, 139, 246);
        }
    }
    .plain-btn{
        color: rgb(0,113,227);
        padding: 11px 21px;
        border-radius: 999px;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid rgb(0,113,227);
        &:hover{
            background-color: rgb(33, 139, 246);
            color: white;
        }
    }
}