:root {
    --text-color: #333333;
    --bg-color: #f5f5f5;
    --card-color: #fff;
    --btn-bg: #e74c3c;
}

.dark:root{
    --text-color: #dcdcdc;
    --card-color: #232323;
    --bg-color: #171717;
    --btn-bg: #b53d30;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: background-color .3s, color .3s;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--card-color);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transition: background-color .3s, color .3s;
}
button {
    background-color: var(--btn-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color .3s;
}