.card-modal{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.3);

    .card-body{
        display:flex;
        flex-direction: column;
        position: absolute;
        width: 300px;
        height:350px;
        background-color:white;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        border-radius:10px;

        .dialog-card__header{
            padding:10px 15px;
            text-align: center;
            border-bottom: 1px solid #e6e6e6;
        }

        .dialog-card__footer{
            padding:10px 15px;
            text-align: center;
            border-top: 1px solid #e6e6e6;
        }
        .dialog-card__content{
            flex: 1;
            padding: 10px 15px;
            font-size: 14px;
        }
    }
}

h4{
    margin: 0;
}